@charset "UTF-8";

nav{
	background-color: #F2F5F5;
}

#user_info{
	text-align: right;
}
#user_info > ul{
	display: inline-block;
	margin-right: 20px;
}
#user_info > ul > li{
	display: inline;
	color: #4F6269;
	font-weight: bold;
	font-family: 'Pretendard Variable';
	font-size: 8pt;
}
#user_info > ul > li > a{
	text-decoration: none;
	color: #4F6269;
}
#user_info > ul > li > a:hover{
	text-decoration: underline;
}

#menu_bar > ul{
	display: inline-block;
	margin-left: 180px;
}
#menu_bar > ul > li{
	display: inline;
	margin-left: 40px;
	color: #485A61;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 10pt;
}
#menu_bar > ul > li > img{
	width: 13px;
}
#menu_bar > ul > li > div > a{
	text-decoration: none;
	color: #485A61;
}

.menu{
	position: relative;
	display: inline-block;
}
.menu:before {
  content: "";
  position: absolute;
  top: 20px;
  width: 0px;
  height: 5px;
  background-color: #444444;
  transition: all linear 0.2s;
}
.menu:hover:before {
  width: 100%;
}